In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
import json
import re

In [41]:
subject_pattern = re.compile("(K|ALS)\d{2,3}(_t\d+)?")

In [45]:
subject_pattern.search("testing on K309...").group()

'K309'

In [62]:
res = list()
subject = None
metrics = None
with open("/home/txdat/Documents/ALS02_LRF0_K_final2.txt", mode="r", encoding="utf-8") as f:
    for line in f:
        line = line.strip()
        if line.startswith("testing on"):
            subject = subject_pattern.search(line).group()
        elif line.startswith("{'acc'"):
            if subject is not None:
                metrics = json.loads(line.replace("'", "\""))
                metrics["subject"] = subject
                res.append(metrics)
                subject = None
                
res = pd.DataFrame(res)
res

        acc        f1     kappa    subject
0  0.636861  0.573409  0.446452   ALS02_t1
1  0.551535  0.484043  0.348096   ALS02_t2
2  0.603792  0.564122  0.443932   ALS02_t3
3  0.418961  0.421875  0.230401   ALS02_t4
4  0.560499  0.531940  0.382772   ALS02_t5
5  0.517529  0.557618  0.393834   ALS02_t6
6  0.462660  0.497289  0.323708   ALS02_t7
7  0.572833  0.599263  0.444180   ALS02_t8
8  0.499100  0.437994  0.276592   ALS02_t9
9  0.658031  0.631245  0.464335  ALS02_t10

In [63]:
res.loc[res.groupby("subject")["acc"].idxmax()][["subject", "acc", "f1", "kappa"]]

     subject       acc        f1     kappa
0   ALS02_t1  0.636861  0.573409  0.446452
9  ALS02_t10  0.658031  0.631245  0.464335
1   ALS02_t2  0.551535  0.484043  0.348096
2   ALS02_t3  0.603792  0.564122  0.443932
3   ALS02_t4  0.418961  0.421875  0.230401
4   ALS02_t5  0.560499  0.531940  0.382772
5   ALS02_t6  0.517529  0.557618  0.393834
6   ALS02_t7  0.462660  0.497289  0.323708
7   ALS02_t8  0.572833  0.599263  0.444180
8   ALS02_t9  0.499100  0.437994  0.276592

In [7]:
res = list()
# subject = None
# metrics = None
with open("/home/txdat/Documents/EEG_results/EEG_ALS_EA.txt", mode="r", encoding="utf-8") as f:
    for line in f:
        line = line.strip()
        # if line.startswith("testing on"):
        #     subject = subject_pattern.search(line).group()
        # elif line.startswith("{'acc'"):
        #     if subject is not None:
        #         metrics = json.loads(line.replace("'", "\""))
        #         metrics["subject"] = subject
        #         res.append(metrics)
        #         subject = None
        
        if line.startswith("subject ALS"):
            # print(line)
            _, session, _, acc, f1, kappa = [x.strip() for x in line.split("-")]
            # print(nc, acc, f1, kappa)
            # print(session)
            acc = float(acc.split()[-1])
            f1 = float(f1.split()[-1])
            kappa = float(kappa.split()[-1])
            # print(acc, f1, kappa)
            session = session.split()[-1]
            
            res.append({"subject": session, "acc": acc, "f1": f1, "kappa": kappa})
            
res = pd.DataFrame(res)
res

      subject       acc        f1     kappa
0    ALS01_t1  0.746581  0.780193  0.660102
1   ALS01_t10  0.918103  0.882869  0.784810
2    ALS01_t2  0.701988  0.637301  0.458294
3    ALS01_t3  0.759679  0.754317  0.634701
4    ALS01_t4  0.620140  0.609330  0.434896
5    ALS01_t5  0.746320  0.735147  0.627279
6    ALS01_t6  0.844467  0.839626  0.759716
7    ALS01_t7  0.838186  0.830463  0.746796
8    ALS01_t8  0.745875  0.725826  0.599526
9    ALS01_t9  0.844554  0.832192  0.750211
10   ALS02_t1  0.701433  0.708552  0.559265
11  ALS02_t10  0.879751  0.863752  0.778325
12   ALS02_t2  0.684698  0.661213  0.505239
13   ALS02_t3  0.733498  0.736566  0.601793
14   ALS02_t4  0.481713  0.467062  0.221348
15   ALS02_t5  0.883575  0.882966  0.823691
16   ALS02_t6  0.843893  0.843854  0.763998
17   ALS02_t7  0.703477  0.696903  0.537079
18   ALS02_t8  0.699591  0.641272  0.496876
19   ALS02_t9  0.628725  0.616836  0.435934
20   ALS04_t1  0.727267  0.700216  0.551840
21   ALS04_t2  0.551251  0.547834  0.335719
22   ALS04_t3  0.714368  0.685390  0.572691
23   ALS04_t4  0.658446  0.618656  0.433391
24   ALS04_t5  0.668988  0.623440  0.446555
25   ALS04_t6  0.560783  0.526265  0.308283
26   ALS04_t7  0.694775  0.668889  0.495652
27   ALS04_t8  0.806499  0.776819  0.664529
28   ALS05_t1  0.680364  0.796537  0.521125
29   ALS05_t2  0.631302  0.724029  0.503099
30   ALS05_t3  0.748016  0.731085  0.599111
31   ALS05_t4  0.676471  0.556740  0.289643
32   ALS05_t5  0.738664  0.668708  0.546005
33   ALS05_t6  0.713860  0.724364  0.579336